<!DOCTYPE html>
<html>
<head>
  <title>ET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <!-- googleMapAPI -->
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDEepsE70P7cv7Sp4D9cdtmVhBd_rf-Eg&sensor=true&language=ja">
  </script>
  
  
</head>
<body>

  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.name %></strong>. |
    <%= link_to '男トイレ検索', toilets_path, :class => 'navbar-link' 'btn btn-primary' %> |
    <%= link_to '女トイレ検索', toilets_path, :class => 'navbar-link' 'btn btn-danger' %> |
    <%= link_to '新トイレ発見！', new_toilet_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <%= link_to '男トイレ検索', toilets_path, :class => 'navbar-link' 'btn btn-primary' %> |
    <%= link_to '女トイレ検索', toilets_path, :class => 'navbar-link' 'btn btn-danger' %> |
    <%= link_to '新トイレ発見！', new_toilet_path, :class => 'navbar-link' %> |
  <% end %>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

</body>
</html>
