<%= form_for @toilet, :html => { :class => "form-horizontal toilet" } do |f| %>

    <% if @toilet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@toilet.errors.count, "error") %> prohibited this toilet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @toilet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:name]) %>
  </div>
  
    <div class="control-group">
    <%= f.label :western, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :western, :class => 'form-control', :min => 0 %>
    </div>
    <%= error_span(@toilet[:western]) %>
  </div>
  <div class="control-group">
    <%= f.label :japanese, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :japanese, :class => 'form-control', :min => 0 %>
    </div>
    <%= error_span(@toilet[:japanese]) %>
  </div>
  <div class="control-group">
    <%= f.label :multi, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :multi, :class => 'form-control', :min => 0 %>
    </div>
    <%= error_span(@toilet[:multi]) %>
  </div>
  <div class="control-group">
    <%= f.label :urinals, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :urinals, :class => 'form-control', :min => 0 %>
    </div>
    <%= error_span(@toilet[:urinals]) %>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:comment]) %>
  </div>


<div class="form-group">
    <label for="inputFindLPM" class="col-lg-2 control-label">落し物発見場所</label>
    <div class="col-lg-10 col-lg-offset-2">
        緯度:<div id="id_lat"></div>
        経度:<div id="id_lng"></div>
        住所:<div id="area_name"></div>
        <div id="map_canvas" style="width:100%; height:500px">
            位置情報を取得中です…
        </div>
    </div>
</div>

  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:lat]) %>
  </div>
  <div class="control-group">
    <%= f.label :long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:long]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:address]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            toilets_path, :class => 'btn btn-default' %>

<% end %>
