<%= form_for @toilet, :html => { :class => "form-horizontal toilet" } do |f| %>

    <% if @toilet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@toilet.errors.count, "error") %> prohibited this toilet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @toilet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:lat]) %>
  </div>
  <div class="control-group">
    <%= f.label :long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:long]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :western, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :western, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:western]) %>
  </div>
  <div class="control-group">
    <%= f.label :japanese, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :japanese, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:japanese]) %>
  </div>
  <div class="control-group">
    <%= f.label :multi, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :multi, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:multi]) %>
  </div>
  <div class="control-group">
    <%= f.label :urinals, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :urinals, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:urinals]) %>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:comment]) %>
  </div>
  <div class="control-group">
    <%= f.label :ave_rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ave_rate, :class => 'form-control' %>
    </div>
    <%= error_span(@toilet[:ave_rate]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            toilets_path, :class => 'btn btn-default' %>

<% end %>
