<%= form_for(@toilet) do |f| %>
  <% if @toilet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toilet.errors.count, "error") %> prohibited this toilet from being saved:</h2>

      <ul>
      <% @toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :western %><br>
    <%= f.number_field :western %>
  </div>
  <div class="field">
    <%= f.label :japanese %><br>
    <%= f.number_field :japanese %>
  </div>
  <div class="field">
    <%= f.label :multi %><br>
    <%= f.check_box :multi %>
  </div>
  <div class="field">
    <%= f.label :urinals %><br>
    <%= f.number_field :urinals %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :ave_rate %><br>
    <%= f.text_field :ave_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
