<%- model_class = Toilet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("新トイレ発見！")),
            new_toilet_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:名前) %></th>
      <th><%= model_class.human_attribute_name(:住所) %></th>
      <th><%= model_class.human_attribute_name(:洋式) %></th>
      <th><%= model_class.human_attribute_name(:和式) %></th>
      <th><%= model_class.human_attribute_name(:多目的トイレ) %></th>
      <th><%= model_class.human_attribute_name(:小便器の数) %></th>
      <th><%= model_class.human_attribute_name(:コメント) %></th>
      <th><%= model_class.human_attribute_name(:評価) %></th>
    </tr>
  </thead>
  <tbody>
    <% @toilets.each do |toilet| %>
      <tr>
        <td><%= link_to toilet.name, toilet_path(toilet) %></td>
        <td><%= toilet.address %></td>
        <td><%= toilet.western %></td>
        <td><%= toilet.japanese %></td>
        <td>
          <% if toilet.multi %>
            有 
          <% else %>
            無
          <% end %>
        </td>
        <td><%= toilet.urinals %></td>
        <td><%= toilet.comment %></td>
        <td><%= toilet.ave_rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
