<%- model_class = Toilet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("新トイレ発見！")),
            new_toilet_path,
            :class => 'btn btn-primary' %>


            <%= form_tag('/toilets', :method => :get) do %>
              <%= hidden_field_tag 'lat', :id => 'lat' %>
              <%= hidden_field_tag 'long', :id => 'long' %>
              <%= submit_tag '男検索', name: 'men' , :class => 'btn btn-primary'%>
              <%= submit_tag '女検索', name: 'women' , :class => 'btn btn-danger'%>
            <% end %>

    <label for="inputFindLPM" class="col-lg-2 control-label"></label>
        <div id="id_lat" style="display:none"></div>
        <div id="id_lng" style="display:none"></div>
        <div id="area_name"></div>
        <div id="map_canvas" style="width:100%; height:500px">
            位置情報を取得中です…
        </div>

<p>Find me in app/views/home/index.html.erb</p>
 <script type="text/javascript">
$(function(){
  setInterval(function(){
    document.getElementById('lat').value=document.getElementById('id_lat').innerText;
    document.getElementById('long').value=document.getElementById('id_lng').innerText;
}, 300);
});
</script>








