<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Toilet</th>
      <th>Clean</th>
      <th>Comfort</th>
      <th>Good smell</th>
      <th>Design</th>
      <th>Find</th>
      <th>Rate</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.user %></td>
        <td><%= evaluation.toilet %></td>
        <td><%= evaluation.clean %></td>
        <td><%= evaluation.comfort %></td>
        <td><%= evaluation.good_smell %></td>
        <td><%= evaluation.design %></td>
        <td><%= evaluation.find %></td>
        <td><%= evaluation.rate %></td>
        <td><%= evaluation.comment %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
